<footer
  class='text-center pt-10 md:pt-12 pb-11 md:pb-14 border-t border-white/20 mx-6 md:mx-0'
>
  <div class='container mx-auto md:px-6'>
    <p class='text-base md:text-xl font-black max-w-xl mx-auto mb-4 md:mb-5'>
      Want to know more about why Argentina is the right choice for your
      software engineers for hire?
    </p>
    <p
      class='text-base md:text-xl font-black bg-primary inline-block px-1 mb-7'
    >
      <a href="https://cal.com/assemblar/i-want-to-know-more">
        Schedule a time with us here
      </a>
    </p>
    <div class='flex gap-4 md:gap-10 justify-center flex-col md:flex-row'>
      <a href="mailto:hello@assemblar.io"
        <span>
          <img src='/images/mail.svg' alt='Mail' class='inline-block mr-2' />
          hello@assemblar.io
        </span>
      </a>
      <span>
        <img src='/images/phone.svg' alt='Phone' class='inline-block mr-2' />
        212-111-1111
      </span>
    </div>
  </div>
</footer>
