<footer
  class='text-center pt-10 md:pt-12 pb-11 md:pb-14 border-t border-white/20 mx-6 md:mx-0'
>
  <div class='container mx-auto md:px-6'>
    <p class='text-base md:text-xl font-black max-w-xl mx-auto mb-4 md:mb-5'>
      Want to know more about why Argentina is the right choice for your
      software engineers for hire?
    </p>
    <p
      class='text-base md:text-xl font-black bg-primary inline-block px-1 mb-7'
    >
      <a href="https://cal.com/assemblar/i-want-to-know-more">
        Schedule a time with us clicking here
      </a>
    </p>
    <div class='flex gap-4 md:gap-10 justify-center flex-col md:flex-row'>
      <div class="flex flex-row justify-center md:justify-normal">
        <a href="mailto:hello@assemblar.io"  class='inline-block mr-2'>
          <img src='/images/mail.svg' alt='Mail' />
        </a>

        <a href="mailto:hello@assemblar.io"
           class="transition-colors hover:text-primary-400">
          hello@assemblar.io
        </a>
      </div>

      <div class="flex flex-row justify-center md:justify-normal">
        <a href="tel:(855)806-4114">
          <img src='/images/phone.svg' alt='Phone' class='inline-block mr-2' />
        </a>

        <a href="tel:(855)806-4114"
           class="transition-colors hover:text-primary-400">
          (855) 806-4114
        </a>
      </div>
    </div>
  </div>
</footer>
