---
import { HeaderItem } from '../../enums/headerEnums';

interface Props {
  currentPath?: HeaderItem;
}

const { currentPath } = Astro.props;
---

<header class='py-6 md:py-10'>
  <nav class='flex gap-x-10 items-center justify-between'>
    <a href='/'>
      <img
        class='max-w-[8.125rem] md:max-w-none w-48'
        src='/images/logo.svg'
        alt='logo'
      />
    </a>

    <div class='hidden md:flex gap-x-9 items-center'>
      <a
        href='/about-us'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.About },
          'transition-colors hover:text-primary-400',
        ]}
      >
        About Us
      </a>
      <a
        href='/faqs'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.FAQs },
          'transition-colors hover:text-primary-400',
        ]}
      >
        FAQs
      </a>
      <a
        href='/contact'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.Contact },
          'transition-colors hover:text-primary-400',
        ]}
      >
        Contact
      </a>
      <a
        href='/for-candidates'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.ForCandidates },
          'transition-colors hover:text-primary-400',
        ]}
      >
        For Candidates
      </a>
    </div>

    <button id='open-sidebar' class='md:hidden'>
      <img src='/images/menu.svg' alt='Menu' />
    </button>
  </nav>

  <div
    id='sidebar'
    class='md:hidden gap-y-6 flex flex-col absolute z-10 top-0 bottom-0 right-0 bg-black/80 w-full max-w-[60%] md:max-w-[95%] px-6 py-7 translate-x-full transition-transform duration-200'
  >
    <div class='flex flex-col items-end gap-y-6'>
      <button id='close-sidebar' class='mb-9'>
        <img src='/images/menu-close.svg' alt='Menu Close' />
      </button>

      <a
        href='/about-us'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.About },
          'transition-colors hover:text-primary-400',
        ]}
      >
        About Us
      </a>
      <a
        href='/faqs'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.FAQs },
          'transition-colors hover:text-primary-400',
        ]}
      >
        FAQs
      </a>
      <a
        href='/contact'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.Contact },
          'transition-colors hover:text-primary-400',
        ]}
      >
        Contact
      </a>
      <a
        href='/for-candidates'
        class:list={[
          { 'text-primary': currentPath == HeaderItem.ForCandidates },
          'transition-colors hover:text-primary-400',
        ]}
      >
        For Candidates
      </a>
    </div>
  </div>
</header>

<script is:inline>
const openSidebar = document.getElementById('open-sidebar');
const closeSidebar = document.getElementById('close-sidebar');
const sidebar = document.getElementById('sidebar');

openSidebar.addEventListener('click', () => {
  sidebar.classList.add('!translate-x-0');
});

closeSidebar.addEventListener('click', () => {
  sidebar.classList.remove('!translate-x-0');
});
</script>
