---
import Layout from '../layouts/Layout.astro';
import { HeaderItem } from '../enums/headerEnums';
import Form from '../components/pages/contact/Form.astro';
---

<Layout title='Contact Us | Assemblar' currentPath={HeaderItem.Contact}>
  <h1
    class='text-center text-4xl md:text-6xl font-black pt-9 md:pt-14 pb-12 md:pb-20'
  >
    Contact Us
  </h1>

  <section class='mb-14 md:mb-16'>
    <div id='parent-asks' class='flex flex-col md:flex-row gap-28 md:gap-24'>
      <div class='grow lg:ml-48'>
        <Form />
      </div>

      <div class='w-full md:max-w-[40%] hidden lg:block'>
        <img
            class='md:w-[50%] mt-24'
            src='/images/airplane.svg'
            alt='Contact Us'
          />
      </div>
    </div>
  </section>
</Layout>
