---
import Layout from '../layouts/Layout.astro';
import { HeaderItem } from '../enums/headerEnums';
import Faq from '../components/pages/faqs/Faq.astro';

const asks = [
  {
    ask: 'Why should I choose Assemblar over other companies that appear to offer similar services?',
    answer:
      `Assemblar stands out by offering a comprehensive end-to-end service that
      combines competitive pricing with uncompromised quality. Our experienced
      team, streamlined interview processes, and cost optimization efforts
      enable us to deliver unbeatable quality at unmatched rates. We prioritize
      providing exceptional value to our clients.`
,
  },
  {
    ask: `What advantages does Assemblar offer compared to finding my own team
    through a recruiting agency and directly hiring them using a payroll and
    compliance provider?`,
    answer:
      `Firstly, we collaborate with multiple top-notch local talent hunting
      agencies, saving you the effort of selecting the best agency
      yourself. This collaboration accelerates the recruiting process and
      ensures access to the best candidates. Additionally, we provide our
      expertise in setting up an effective interviewing process tailored
      specifically to your target market.

      <div class="py-2"></div>

      Another advantage is that we handle the logistical challenges of equipping
      your local team. This means you don't have to navigate the complexities or
      potential high costs associated with procuring equipment like Apple
      computers. We take care of this aspect, ensuring your team has the
      necessary tools to succeed.

      <div class="py-2"></div>

      Lastly, we understand the importance of building a strong culture for your
      offshore team, as it greatly influences long-term retention. With our
      support, you can cultivate a cohesive and productive work environment that
      fosters loyalty and high performance among your team members.`,
  },
  {
    ask: 'Are you located in Argentina or in the US?',
    answer:
      `While our operations are based in <a
      href="https://en.wikipedia.org/wiki/Buenos_Aires">Buenos Aires,
      Argentina</a>, we have a US Legal Entity in place to simplify the process
      for our clients. This allows us to provide a seamless experience and
      convenient engagement for our clients while leveraging the advantages of
      our operations in Argentina.`,
  },
  {
    ask: 'What kind of roles can you hire?',
    answer:
      `We have the capability to hire various roles related to Product and
      Engineering. This includes positions such as Product Managers, Marketing
      Designers, UI/UX Designers, Web Engineers (Full Stack, Back-End,
      Front-End), Mobile Engineers (iOS, Android), Data/ML Engineers, and many
      more. We have a diverse talent pool to cater to your specific staffing
      needs in these areas.`,
  },
  {
    ask: 'Why should I hire in Argentina instead of other countries in Latin America or even the rest of the World?',
    answer:
      `Argentina offers the perfect partnership for your business with its ideal
      time zone alignment and high English proficiency. Let's schedule a time to
      discuss further and address all your questions.`,
  },
];
---

<Layout title='FAQs | Assemblar' currentPath={HeaderItem.FAQs}>
  <h1
    class='px-4 text-center text-4xl md:text-6xl font-black pt-9 md:pt-14 pb-12 md:pb-24'
  >
    Frequently Asked Questions
  </h1>

  <section class='mb-14 md:mb-32 max-w-[58.125rem] mx-auto'>
    <div id='parent-asks' class='flex flex-col gap-1 md:gap-2.5 max-w-173'>
      {asks.map((item) => <Faq ask={item.ask} answer={item.answer} />)}
    </div>
  </section>
</Layout>

<script is:inline>
const asks = document.getElementById('parent-asks');
const maxHeight = '999rem';
const paddingTop = '1rem';
const svgD = {
  close: '2ZM13 7H11V11H7V13H11V17H13V13H17V11H13V7Z',
  open: '2ZM7 13H17V11H7',
};

asks.addEventListener('click', (e) => {
  const target = e.target;
  if (target.classList.contains('answer')) return;
  const parent = target.closest('.ask-header');
  if (!parent) return;
  const answer = parent.nextElementSibling;
  const path = parent.querySelector('svg path');
  const getD = path.getAttribute('d');

  if (answer.classList.contains('hidden')) {
    answer.classList.remove('hidden');
    setTimeIn = setTimeout(() => {
      answer.style.maxHeight = maxHeight;
      answer.style.paddingTop = paddingTop;
      path.setAttribute('d', getD.replace(svgD.close, svgD.open));
    }, 30);
  } else {
    answer.style.maxHeight = 0;
    answer.style.paddingTop = 0;
    path.setAttribute('d', getD.replace(svgD.open, svgD.close));
    setTimeout(() => {
      answer.classList.add('hidden');
    }, 300);
  }

  const otherAnswer = Array.from(asks.querySelectorAll('.answer')).filter(
    (item) => item !== answer
  );
  otherAnswer.forEach((item) => {
    item.style.maxHeight = 0;
    item.style.paddingTop = 0;
    const path = item.previousElementSibling.querySelector('svg path');
    const getD = path.getAttribute('d');
    path.setAttribute('d', getD.replace(svgD.open, svgD.close));
    setTimeout(() => {
      item.classList.add('hidden');
    }, 300);
  });
  });
</script>
