---
import ListItem from './ListItem.astro';
import TitleBox from './TitleBox.astro';
import WindowCard from './WindowCard.astro';

const list = [
  {
    image: '/images/talent-search.svg',
    title: 'Interview the right talent with our pre-vetted candidates.',
    description:
      `Thanks to our meticulous screening process, your team will only
      interview candidates who have already been thoroughly evaluated by us,
      saving you valuable time and effort.`,
  },
  {
    image: '/images/interview.svg',
    title: 'Effective interviewing.',
    description: `We will quickly set up the best interview cycle, ensuring it
    operates efficiently and desirably with all parties.`,
  },
  // {
  //   image: '/images/cooperation.svg',
  //   title: 'Utilize our team of professionals for interviews.',
  //   description:
  //     `Our experienced team specializes in a variety of software engineering
  //     fields. Allowing us to handle the interview process, initiating candidate
  //     deep dives or issuing candidates a take home project to ensure a good
  //     match is found.`,
  // },
];
---

<section class='mb-16 md:mb-32'>
  <TitleBox title='Interview' />

  <div class='grid grid-cols-1 lg:grid-cols-2 gap-11 lg:gap-16'>
    <div class='order-2 md:order-1'>
      <WindowCard>
        <div class='flex justify-between items-center mb-8 md:mb-10'>
          <div class='flex gap-3 md:gap-7 items-center grow'>
            <img class='w-10 md:w-[4.5rem]' src='/images/abc.svg' alt='abc' />
            <div class='grow'>
              <p class='text-base md:text-2xl font-bold mb-2'>ABC Inc.</p>
              <div
                class='bg-gradient-title h-4 md:h-5 w-full max-w-[8.25rem] md:max-w-[12.5rem] rounded-lg'
              >
              </div>
            </div>
          </div>

          <p class='text-sm md:text-base font-medium'>59 Candidates</p>
        </div>

        <p class='text-xl mb-8'>List Candidates</p>

        <div class='flex justify-between items-center mb-10'>
          <div class='flex gap-2 md:gap-7 items-center grow'>
            <img class='w-14 md:w-[4.5rem]' src='/images/w-1.webp' alt='W 1' />
            <div class='grow'>
              <div
                class='bg-gradient-title h-4 md:h-5 w-full max-w-[7.5rem] md:max-w-[16.5rem] rounded-lg mb-4'
              >
              </div>
              <div
                class='bg-gradient-subtitle h-4 md:h-5 w-full max-w-[4.5rem] md:max-w-[9.75rem] rounded-lg'
              >
              </div>
            </div>
          </div>

          <span
            class='border border-primary text-sm font-bold py-2 md:py-3 px-5 md:px-10 rounded-3xl relative'
          >
            Interview
            <img
              class='absolute right-0 opacity-80'
              src='/images/cursor-click-fill.svg'
              alt='Cursor Click Fill'
            />
          </span>
        </div>

        <div class='text-center'>
          <div
            class='border-2 border-white/10 py-4 md:py-2 px-4 rounded-[2.5rem] inline-flex items-center gap-2 md:gap-3'
          >
            <div class='flex -space-x-3 md:-space-x-6'>
              <img
                class='inline-block w-10 md:w-16 h-10 md:h-16'
                src='/images/candidate-1.webp'
                alt='Candidate 1'
              />
              <img
                class='inline-block w-10 md:w-16 h-10 md:h-16'
                src='/images/candidate-2.webp'
                alt='Candidate 2'
              />
              <img
                class='inline-block w-10 md:w-16 h-10 md:h-16'
                src='/images/candidate-3.webp'
                alt='Candidate 3'
              />
              <img
                class='inline-block w-10 md:w-16 h-10 md:h-16'
                src='/images/candidate-4.webp'
                alt='Candidate 4'
              />
            </div>
            <p class='text-sm md:text-base'>10+ more candidates</p>
          </div>
        </div>
      </WindowCard>
    </div>

    <div class='order-1 md:order-2 flex flex-col gap-10'>
      {
        list.map((item) => (
          <ListItem
            image={item.image}
            title={item.title}
            description={item.description}
          />
        ))
      }
    </div>
  </div>
</section>
