<section class='text-center mt-14 md:mt-12 mb-14 md:mb-24'>
  <h1
    class='text-5xl md:text-7xl font-black leading-[1.17] md:leading-[6.75rem] tracking-tight mb-8 mx-4'
  >
    <span class='animate-home-software'>Software</span>
    <span class='animate-home-engineers'>Engineers</span>
    <span class='animate-home-for-hire'>For Hire</span>
  </h1>

  <div class='text-gray-blue-100 text-sm md:text-base mb-14 max-w-screen-md mx-auto'>
    <p class='mb-4'>
      Assemblar is a new and exciting platform to outsource your Product &
      Engineering teams. Based in Argentina, we utilize the <span
        class='text-primary'
      >
        strong software development skills available
      </span> in tandem with a high <span class='text-primary'>
        English proficiency
      </span> to find the ideal candidates for your projects. Operating in a country
      with a very similar timezone to the US, it is a match made in heaven. Save
      your money and time, work with experienced Argentinian software engineers for
      hire now.
    </p>
    <p>
      We have developed an efficient process based on a direct connection
      between clients and their outsourced teams. We provide a one-stop,
      complete service to help you find, hire and keep your team up and running
      at an affordable rate.
    </p>
  </div>

  <img class='mx-auto' src='/images/collab.webp' alt='Collaboration' />
</section>
