<section
  class='mb-16 md:mb-12 flex flex-col lg:flex-row gap-10 items-center px-5 md:px-20 pb-5 md:pb-20 pt-7 md:pt-12 rounded-xl bg-gradient-team'
>
  <div class='lg:w-0 grow'>
    <p
      class='text-center md:text-left text-3xl md:text-6xl font-black leading-[1.28] md:leading-[4.5rem] mb-8'
    >
      Covering All Product Team Roles
    </p>

    <div class='text-center md:text-left text-white/80 text-base md:text-lg'>
      <p class='mb-4'>
        At Assemblar, not only do we supply exceptional software engineers for
        hire, but we can also recruit and manage any product team roles you may
        need for your project. Our team of experienced recruiters focuses on
        finding the right fit for each role, ranging from Product Designers to
        Product Managers and UI designers.
      </p>
      <p class="mb-4">
        We are your one-stop shop for all your recruitment needs. Supplying
        experienced, expert talent on demand - at affordable prices.
      </p>
      <p>
        <a href="https://cal.com/assemblar/i-want-to-know-more">Get in touch</a>
        if you'd like to learn more about how Assemblar can help cut your costs
        and increase velocity on your next project.
      </p>
    </div>
  </div>

  <div class='lg:max-w-md grow'>
    <img
      class='mx-auto w-full'
      src='/images/product.svg'
      alt='Product'
    />
  </div>
</section>
