---
import ListItem from './ListItem.astro';
import TitleBox from './TitleBox.astro';
import WindowCard from './WindowCard.astro';

const list = [
  {
    image: '/images/r-insurance.svg',
    title: 'Full Commitment Guarantee',
    description:
      `Unlike other agencies, your team will be 100% committed to you and your
projects. Your team won’t be doing any work, presentations or talks for
Assemblar or other companies. We do not operate like other agencies that rotate
people across different clients. It’s our Assemblar Full Commitment Guarantee.
`,
  },
  {
    image: '/images/r-teamwork.svg',
    title: 'Operations',
    description:
      `With an acute understanding of the local landscape, our agency takes care
      of all essential aspects, providing clients with unmatched support and
      access to top-tier resources for their operations in Argentina. From
      logistics and securing office space to organizing local meet-ups for your
      team and more, we ensure a seamless experience that exceeds
      expectations.`,
  },
  {
    image: '/images/r-teamcommunication.svg',
    title: 'Unlock the full potential of your team',
    description:
      `Our carefully crafted process is designed with a singular objective in
      mind: to optimize team engagement, ensuring peak productivity and
      maximizing your return on investment (ROI).`,
  },
];
---

<section class='mb-24 md:mb-32'>
  <TitleBox title='Retain' bg='bg-mandy' />

  <div class='grid grid-cols-1 lg:grid-cols-2 gap-11 lg:gap-16'>
    <div class='order-2 md:order-1 hidden lg:block'>
      <WindowCard>
        <div class='flex justify-between items-center mb-8 md:mb-16'>
          <div class='text-base md:text-2xl font-medium md:font-bold'>
            Your Team
          </div>

          <span
            class='border border-primary text-sm font-bold py-2 md:py-3 px-4 md:px-10 rounded-3xl relative'
          >
            Add Team
          </span>
        </div>

        <div class='flex flex-col gap-6 md:gap-10'>
          <div class='flex gap-2 md:gap-7 items-center grow'>
            <img
              class='w-14 md:w-[4.5rem]'
              src='/images/candidate-4.webp'
              alt='C 4'
            />
            <div class='grow'>
              <p class='text-base md:text-2xl font-black mb-2'>Federico</p>
              <div class='flex gap-2'>
                <div
                  class='bg-gradient-title h-4 md:h-5 w-full max-w-[9rem] md:max-w-[15.5rem] rounded-lg'
                >
                </div>
                <div
                  class='bg-gradient-subtitle h-4 md:h-5 w-full max-w-[4.25rem] md:max-w-[11.25rem] rounded-lg'
                >
                </div>
              </div>
            </div>
          </div>
          <div class='flex gap-2 md:gap-7 items-center grow'>
            <img
              class='w-14 md:w-[4.5rem]'
              src='/images/candidate-2.webp'
              alt='C 2'
            />
            <div class='grow'>
              <p class='text-base md:text-2xl font-black mb-2'>Eduardo</p>
              <div class='flex gap-2'>
                <div
                  class='bg-gradient-title h-4 md:h-5 w-full max-w-[9rem] md:max-w-[15.5rem] rounded-lg'
                >
                </div>
                <div
                  class='bg-gradient-subtitle h-4 md:h-5 w-full max-w-[4.25rem] md:max-w-[11.25rem] rounded-lg'
                >
                </div>
              </div>
            </div>
          </div>
          <div class='flex gap-2 md:gap-7 items-center grow'>
            <img class='w-14 md:w-[4.5rem]' src='/images/w-2.webp' alt='W 2' />
            <div class='grow'>
              <p class='text-base md:text-2xl font-black mb-2'>Gloria</p>
              <div class='flex gap-2'>
                <div
                  class='bg-gradient-title h-4 md:h-5 w-full max-w-[9rem] md:max-w-[15.5rem] rounded-lg'
                >
                </div>
                <div
                  class='bg-gradient-subtitle h-4 md:h-5 w-full max-w-[4.25rem] md:max-w-[11.25rem] rounded-lg'
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </WindowCard>
    </div>

    <div class='order-1 md:order-2 flex flex-col gap-10'>
      {
        list.map((item) => (
          <ListItem
            image={item.image}
            title={item.title}
            description={item.description}
          />
        ))
      }
    </div>
  </div>
</section>
