<section
  class='bg-gradient-founder p-2 pb-10 md:p-12 flex flex-col md:flex-row gap-6 md:gap-20 rounded-xl max-w-screen-lg mx-auto'
>
  <div class='aspect-square min-w-[50%]'>
    <img class='w-full' src='/images/mariano_bw.webp' alt='Founder' />
  </div>
  <div>
    <p class='text-3xl md:text-5xl font-black leading-10 md:leading-[4rem]'>
      Mariano
    </p>
    <p class='text-primary text-xl md:text-2xl font-bold mb-7'>Founder</p>

    <div class='flex gap-4 mb-11 md:mb-14 text-sm'>
      <span>
        <a href="https://www.linkedin.com/in/marianobenedettini/">
          <img
            class='inline-block mr-2'
            src='/images/linkedin.svg'
            alt='Linkedin'
          />
          <p class='inline-block underline align-bottom'>Linkedin</p>
        </a>
      </span>
      <span>
        <a href="https://www.marianobe.cc/mariano.pdf">
          <img class='inline-block mr-2' src='/images/pdf.svg' alt='PDF' />
          <p class='inline-block underline align-bottom'>Resume</p>
        </a>
      </span>
    </div>

    <p class='text-white/80 text-sm md:text-base'>
      Mariano has a strong background as a Software Engineer first and then as
      an Engineering Manager. At Glide he created a team of 10 from scratch
      based in Argentina, which later was grown to 40 people after acquired by
      Compass.
    </p>
  </div>
</section>

