<section
  class='bg-gradient-founder p-3 pb-6 md:p-10 flex flex-col md:flex-row gap-6 md:gap-20 rounded-xl'
>
  <div class='aspect-square min-w-[50%]'>
    <img class='w-full' src='/images/founder.webp' alt='Founder' />
  </div>
  <div>
    <p class='text-3xl md:text-5xl font-black leading-10 md:leading-[4rem]'>
      Mariano
    </p>
    <p class='text-primary text-xl md:text-2xl font-bold mb-7'>Founder</p>

    <div class='flex gap-4 mb-11 md:mb-14 text-sm'>
      <span>
        <img
          class='inline-block mr-2'
          src='/images/linkedin.svg'
          alt='Linkedin'
        />
        <p class='inline-block underline align-bottom'>Linkedin</p>
      </span>
      <span>
        <img class='inline-block mr-2' src='/images/pdf.svg' alt='PDF' />
        <p class='inline-block underline align-bottom'>See Resume</p>
      </span>
    </div>

    <p class='text-white/80 text-sm md:text-base'>
      Mariano has a strong background as a Software Engineer first and then as
      an Engineering Manager. At Glide he created a team of 10 from scratch
      based in Argentina, which later was grown to 40 people after acquired by
      Compass.
    </p>
  </div>
</section>

<style lang='sass'>
  .bg-gradient-founder
    background: linear-gradient(180deg, #202631 24.4%, rgba(32, 38, 49, 0) 113.68%)
</style>
