---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import BodyTags from '../components/layout/BodyTags.astro';
import HeadTags from '../components/layout/HeadTags.astro';
import type { HeaderItem } from '../enums/headerEnums';
export interface Props {
  title: string;
  currentPath?: HeaderItem;
}

const { title, currentPath } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <HeadTags />
    <meta charset='UTF-8' />
    <meta name='description' content='Software Engineers and Product roles For Hire with a focus on Argentina' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='robots' content='index, follow' />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class='h-screen flex flex-col overflow-x-hidden'>
    <div class='container mx-auto px-6'>
      <Header {currentPath} />
    </div>
    <main class='flex-1 container mx-auto px-6'>
      <slot />
    </main>
    <Footer />
    <BodyTags />
  </body>
</html>

<style is:global lang='sass'>
  @font-face
    font-family: 'Satoshi'
    src: url('/fonts/Satoshi-Regular.woff2') format("woff2"), url('/fonts/Satoshi-Regular.woff') format("woff"), url('/fonts/Satoshi-Regular.ttf') format("truetype")
    font-weight: 400
    font-display: swap
    font-style: normal

  @font-face
    font-family: 'Satoshi'
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'), url('/fonts/Satoshi-Medium.woff') format('woff'), url('/fonts/Satoshi-Medium.ttf') format('truetype')
    font-weight: 500
    font-display: swap
    font-style: normal

  @font-face
    font-family: 'Satoshi'
    src: url('/fonts/Satoshi-Bold.woff2') format('woff2'), url('/fonts/Satoshi-Bold.woff') format('woff'), url('/fonts/Satoshi-Bold.ttf') format('truetype')
    font-weight: 700
    font-display: swap
    font-style: normal

  @font-face
    font-family: 'Satoshi'
    src: url('/fonts/Satoshi-Black.woff2') format('woff2'), url('/fonts/Satoshi-Black.woff') format('woff'), url('/fonts/Satoshi-Black.ttf') format('truetype')
    font-weight: 900
    font-display: swap
    font-style: normal

  html
    background-color: #13171F
    color: #ffffff
  body
    font-family: 'Satoshi', sans-serif
    text-underline-offset: 2px
    // a
      // @apply underline
</style>
